@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');



.violet{
    background: #593196;
    color:#FFFFFF;
};
.logo {
        max-width: 30%;
    };

.ImgPro {
    max-height: 150px ;
}
.logocompleto {
  /* max-width: 600px; */
  padding-top: 15px;
  
}
/* .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
.portada {
  max-width: 600px;
  margin: auto;
  }
.whitefont1 {
  color: #FFFFFF;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;

} 

.font4{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #fff;
  background-color:#22cfe3;
  border-color: #22cfe3;
  text-shadow: 0.1rem 0.1rem 0.5rem black;

}

.font4:hover {
  
background-color: #ff6dcd;
border-color: #ff6dcd;
}


.whitefont2 {
  color: #FFFFFF;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;

} 
.whitefont3 {
  color: #FFFFFF;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;


} 
.hrwhite{
  border-width: 0.2rem;
  border-color:white;
}
.jumbotron {
  background: rgba(204, 204, 204, 0.6);
};

body {
    background: url("/img/3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;

  }
  

  body:before {
    font-family: 'Roboto', sans-serif !important;

    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("/img/3.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  iframe {
    display:block;
    width:100%;
}


.pink {
    color: pink;
    border-top-color: pink     ;
}

.azulcito{
  color: #22cfe3;
  border-top-color: #22cfe3;

}
.verdecito{
  color: #23cd16;
  border-top-color: #23cd16;
}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.navbar-fixed-top{
  position: fixed !;
}