.violet{
    background: #593196;
    color:#FFFFFF;
};


.logo {
        max-width: 30%;
    };

.ImgPro {
    max-height: 150px ;
}
.logocompleto {
  max-width: 600px;
  padding-top: 15px;
  
}
/* .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
.portada {
  max-width: 600px;
  margin: auto;
  }
.whitefont1 {
  color: #FFFFFF;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  font-size: 4rem;
} 
.whitefont2 {
  color: #FFFFFF;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  font-size: 2rem;
} 
.whitefont3 {
  color: #FFFFFF;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  font-size: 1rem;
} 
.hrwhite{
  border-width: 0.2rem;
  border-color:white;
}
.jumbotron {
  background: rgba(204, 204, 204, 0.6);
};

body {
    background: url("/img/3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  

  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("/img/3.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  iframe {
    display:block;
    width:100%;
}


.pink {
    color: pink;
}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.navbar-fixed-top{
  position: fixed !;
}